<div class="flex justify-center h-screen items-center overflow-hidden">
    <div class="container">
        <div class="cover" [ngClass]="{'route-active':isRegister}">
            <div class="front">
                <img src="https://images.pexels.com/photos/826349/pexels-photo-826349.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="">
                <div class="text">
                    <span class="text-1">Share, Savor, and Create: Your Recipe Haven Awaits!</span>
                    <span>Let's get connected</span>
                </div>
            </div>
            <div class="back">
                <img src="https://images.pexels.com/photos/3184188/pexels-photo-3184188.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="">
            </div>
        </div>
        <div class="form h-full">
            <div class="form-content h-full">
                <div class="login-form">
                    <h1 class="text-lg font-bold text-center pb-8">Signup</h1>
                    <form [FormGroup]="registerForm" (ngSubmit)="handleRegister()" class="">
                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label class="text-gray-200">Full name</mat-label>
                                <input matInput placeholder="John Doe"
                                formControlName="fullName"
                                class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline">
                            </mat-form-field>
                        </div>

                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label class="text-gray-200">email</mat-label>
                                <input matInput formControlName="email"
                                class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline">
                            </mat-form-field>
                        </div>

                        <div class="mb-4">
                            <mat-form-field class="w-full">
                                <mat-label class="text-gray-200">Password</mat-label>
                                <input matInput  formControlName="password"
                                class="py-2 px-3 text-gray-200 mt-1 focus:shadow-outline">
                            </mat-form-field>
                        </div>

                        <div>
                            <button mat-raised-button type="submit" color="primary">
                                Create
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
